


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}



.increment-button {
  background-color: rgb(91, 206, 91);
  color: white;
  border: none;
  padding: 5px;
  padding: 5px 15px 5px 15px;
  margin-bottom: 5px;
}

.decrement-button {
  background-color: rgb(219, 88, 88);
  color: white;
  border: none;
  padding: 5px 15px 5px 15px;
}

.counter {
  font-size: 50px;
  margin-bottom: 5px;
  
}